html {
    font-size: calc(100vw / 1920 * 10);
}
body{
    background: rgb(219, 196, 241);
}
.section.active{
    display: block;
}
.png-image{
    position: relative;
}
.header{
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 60%;
    width: 100%;
    left: -25%;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #24006c;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu-text{
    color: #6d88bb;
    font-size: 30px;
}
.mikro-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.border{
    width: 150px;
    border: 1px solid #5674b9;
    box-shadow: 0px 0px 5px #5674b9;
    border-radius: 90px;
}
.slide1-text{
    font-size: 90px;
} 
.fp-controlArrow.fp-prev{
    border-color: transparent #5674b9 transparent transparent;
}
.fp-controlArrow.fp-next{
    border-color: transparent transparent transparent #5674b9;
}
.slide2{
    background: #000131;
}
.section2{
    background: #000131;
}
.demo-1__gallery {
    height: 295rem;
    position: relative;
    visibility: hidden;
  }
  
  .tilt-effect{
        height: 200px !important;
  }

  .grid__img{
      height: 400px;
      width: 400px;
  }
.page{
    display: flex;
    justify-content: center;
}
.grid__item{
    padding-left: 55px;
    margin-top: 70px;
}
.tilt{
    border: 1px solid #5674b9;
    box-shadow: 0px 0px 5px #5674b9;
}
.name-page-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.name-page{
    text-align: center;
    margin-top: -40px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #6b87c8;
    font-size: 90px;
}
.name-page-border{
    margin-top: 20px;
    width: 400px;
    border: 1px solid #6485d3;
    box-shadow: 0px 0px 5px #6c81b3;
}
.flex-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
}
.name-image{
    text-align: center;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #5674b9;
    font-size: 40px;
}
.border-image{
    margin-top: 20px;
    width: 150px;
    border: 1px solid #6485d3;
    box-shadow: 0px 0px 5px #6c81b3;
}
.price-image{
    text-align: center;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #7591d3;
    font-size: 40px;
}
.point-image{
    text-align: center;
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: #95ace0;
    font-size: 40px;
}

  